.photo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.photo-gallery img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
}

.photo-gallery img:hover {
    transform: scale(1.05);
}
.section {
    padding-left: 8rem; /* or whatever value you prefer */
}
